<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <form method="POST" action="clients">
            <div class="form-group blu-margin">
                <select class="form-control" name="client" id="dropClient">
                    <option value="0">select client</option>
                    <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.name} + ' ' + ${client.surname}"></option>
                </select>
            </div>
            <input type="submit" value="View">
        </form>
        <table>
            <th:block th:each="vehicle : ${vehicles}">
                <tr>
                    <td th:text="${vehicle.brand}"></td>
                    <td th:text="${vehicle.model}"></td>
                    <td th:text="${vehicle.mean}"></td>
                </tr>
            </th:block>
        </table>
    </body>
</html>
